<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dealers.dealers" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        >
        <activity
            android:name=".activities.DealsListActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".activities.OpeningActivity"
            android:label="@string/app_name"
            android:screenOrientation="sensorPortrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.SignInActivity"
            android:label="@string/title_activity_sign_in"
            android:parentActivityName=".activities.OpeningActivity" >
        </activity>
        <activity
            android:name=".activities.SignUpActivity"
            android:label="@string/title_activity_sign_up"
            android:parentActivityName=".activities.OpeningActivity"
            android:windowSoftInputMode="stateHidden" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.dealers.dealers.activities.OpeningActivity" />
        </activity>
    </application>

</manifest>
